.bg-green {
	background-color: #20CCB2;
}
.bg-robot {
	background-image: url(images/header-icons.png);
	background-repeat: no-repeat;
}
.btn-slack {
	border-radius: 50px;
	border-color: #0B0B0B;
}
.angle {
  color: #fff;
  position: relative;
  z-index: 1;
}
.angle:after {
  background: none;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}
